@model System.Collections.Generic.List<Jakarta.Models.PostPreview>

<header>
    <h1 class="heading_supersize">Robert Lebovich</h1>
    <h2 class="welcome_text">"Life is a continuous exercise in creative problem solving." - Michael J. Gelb</h2>    
</header>

<section class="section_light">
	<div class="row">
		<div class="large-4 columns">
			<h3>
				<span class="dropcap_red lsf-icon-dropcap" title="display"></span>
				Software Developement
			</h3>
			<p class="brief">
				I finished Computer Sciences course at Zhytomyr State Technological University. 
				I have experience in developing websites of different complexity and desktop applications 
				for various platforms.
			</p>
		</div>
		<div class="large-4 columns">
			<h3>
				<span class="dropcap_red lsf-icon-dropcap" title="book"></span>
				Jewish Lifestyle
			</h3>
			<p class="brief">
				Judaism is my lifestyle. I study jewish laws and customs in my spare time. I speak before students 
				sometimes giving short lectures on judaism. Also I do volunteering work helping in organization jewish 
				festivals.
			</p>
		</div>
		<div class="large-4 columns">
			<h3>
				<span class="dropcap_red lsf-icon-dropcap" title="web"></span>
				Traveling the World
			</h3>
			<p class="brief">
				I love travelling. Russia, Hungary, Israel is a short list of places i have been in. Not saying that I 
				visited several places in Ukraine. Traveling is wonderful.
			</p>
		</div>
	</div>
</section>
<section class="section_dark">
	<div class="row">
		<h2>Stuff from the internet I like</h2>
		<div class="two columns">
			<a href="#" class="th radius">
				<img src="@Url.Content("~/Content/images/thumb1.jpg")" width="100" height="100" alt="desc" />
			</a>
		</div>
		<div class="two columns">
			<a href="#" class="th radius">
				<img src="@Url.Content("~/Content/images/thumb2.jpg")" width="100" height="100" alt="desc" />
			</a>
		</div>
		<div class="two columns">
			<a href="#" class="th radius">
				<img src="@Url.Content("~/Content/images/thumb3.jpg")" width="100" height="100" alt="desc" />
			</a>
		</div>
		<div class="two columns">
			<a href="#" class="th radius">
				<img src="@Url.Content("~/Content/images/thumb4.jpg")" width="100" height="100" alt="desc" />
			</a>
		</div>
		<div class="two columns">	
			<a href="#" class="th radius">
				<img src="@Url.Content("~/Content/images/thumb5.jpg")" width="100" height="100" alt="desc" />
			</a>
		</div>
		<div class="two columns">
			<a href="#" class="th radius">
				<img src="@Url.Content("~/Content/images/thumb6.jpg")" width="100" height="100" alt="desc" />
			</a>
		</div>
	</div>
</section>

<p>Random stuff i like from the internet</p>
@* <h2>@ViewData["Message"]</h2> *@
		@foreach (var p in Model)
		{
			<article>
			<div class="row">
			<div class="large-9 columns">

			<h3>
				@Html.ActionLink(p.Title, "Index", "Blog", new { id = p.Id }, new { @class= "nocolor" })
			</h3>
			<p>@p.Copy</p>		
			</div>
			<div class="large-3 columns">
				<p>@p.CreationDate.ToLongDateString()</p>
			</div> 
			</div>
			</article>
		}