<!DOCTYPE html>
<html> 
<head>
	<meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A personal website of Robert Lebovich 
    	- developer with more than 3 years experience developing ASP .NET applications" />
    <meta name="author" content="" />
	<link href="@Url.Content("~/Content/foundation.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fonts/ligature.css")" rel="stylesheet" type="text/css" />

    <!-- Google fonts -->
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
  	<script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
</head>
<body>
  	<nav>
        <div class="twelve columns header_nav">
        <div class="row">
      		<ul id="menu-header" class="nav-bar horizontal">
        
         	<li id="home">@Html.ActionLink("Home", "Index", "Home")</li>      
          	<li id="blog" class="">@Html.ActionLink("Blog", "Index", "Blog")</li>
          	<li id="portfolio">@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
          	<li id="contacts">@Html.ActionLink("Contacts", "Contacts", "Home")</li>
          	<li id="about">@Html.ActionLink("About", "About", "Home")</li>
        	</ul>       
      	</div>  
      </div>  
	</nav>
	<div class="row">
		<div class="small-12 large-centered columns">
			&nbsp;	
		</div>
	</div>
	@RenderBody()
<footer>
	<div class="row">
		<div class="medium-12 columns footer">
			<a href="mailto://telebovichatyahoodotcom" class="lsf-icon" style="font-size: 16px; margin-right: 15px;" title="yahoo">Mail</a>
			<a href="https://twitter.com/telebovich" class="lsf-icon" style="font-size: 16px; margin-right: 15px;" title="twitter">Twitter</a>
			<a href="https://facebook.com/telebovich" class="lsf-icon" style="font-size: 16px; margin-right: 15px;" title="facebook">Facebook</a>
			<a href="http://vk.com/telebovich" class="lsf-icon" style="font-size: 16px; margin-right: 15px;" title="vk">VK</a>
			<a href="http://linkedin.com/in/telebovich" class="lsf-icon" style="font-size: 16px; margin-right: 15px;" title="linkedin">
				LinkedIn
			</a>
			<a href="skypeto://telebovich" class="lsf-icon" style="font-size: 16px; margin-right: 15px;" title="skype">Skype</a>
			<a href="http://foursquare.com/telebovich" class="lsf-icon" style="font-size: 16px; margin-right: 15px;" title="google">Foursquare</a> 
			<a href="http://github.com/telebovich" class="lsf-icon" style="font-size: 16px; margin-right: 15px;" title="github">Github</a>
		</div>
	</div>
</footer>
</body>
</html>

